<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
<footer class="bg-dark text-white py-3 mt-4">
    <div class="container">
        <div class="row text-center">
            <!-- Copyright Section -->
            <div class="col-md-4">
                <p class="mb-0">© 2025 SrmGrade. All Rights Reserved.</p>
            </div>

            <!-- Navigation Links -->
            <div class="col-md-4">
                <a href="/admin" class="text-white text-decoration-none mx-2">Admin</a> |
                <a href="/about" class="text-white text-decoration-none mx-2">About</a> |
                <a href="/notes" class="text-white text-decoration-none mx-2">Notes</a> |
                <a href="/pyq" class="text-white text-decoration-none mx-2">PYQ</a>
            </div>

            <!-- Social Media Links -->
            <div class="col-md-4">
                <a href="https://www.instagram.com" target="_blank" class="text-white mx-2"><i class="fab fa-instagram"></i></a>
                <a href="https://www.youtube.com" target="_blank" class="text-white mx-2"><i class="fab fa-youtube"></i></a>
                <a href="https://www.facebook.com" target="_blank" class="text-white mx-2"><i class="fab fa-facebook"></i></a>
            </div>
        </div>
    </div>
</footer>

<!-- Add FontAwesome for icons -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
