<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SRMGrade</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />

</head>
<body p-0 m-0>
    {% include 'partials/header.html'   %}

    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-3">BCA Notes</h2>
            <a href="/add-notes"><button class="btn btn-primary">+ Add Notes</button></a>
        </div>
        

        <!-- Sidebar and Notes Container -->
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action active">C Programming </a>
                    <a href="#" class="list-group-item list-group-item-action">C++ Programming</a>
                    <a href="#" class="list-group-item list-group-item-action">English I</a>
                    <a href="#" class="list-group-item list-group-item-action">English II</a>
                    <a href="#" class="list-group-item list-group-item-action">Mathematics I</a>
                    <a href="#" class="list-group-item list-group-item-action">Mathematics II</a>
                    <a href="#" class="list-group-item list-group-item-action">Fundamental of Computer</a>
                    <a href="#" class="list-group-item list-group-item-action">DSA</a>
                    <a href="#" class="list-group-item list-group-item-action">DBMS</a>
                    <a href="#" class="list-group-item list-group-item-action">PHP</a>
                    <a href="#" class="list-group-item list-group-item-action">Digital Logic</a>
                </div>
            </div>

            <!-- Notes Grid -->
            <div class="col-md-9">
                <div class="row">
                    {% for note in notes %}
                    <div class="col-md-6">
                        <div class="card border-dark mb-3">
                            <div class="card-body">
                                <h5 class="card-title">{{ note.name }}</h5>
                                <p class="card-text">Notes Content</p>
                                <p class="badge bg-secondary">{{ note.unit }}</p>
                                <div class="d-flex align-items-center">
                                    <a href="#" class="btn btn-primary btn-sm">Download</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include 'partials/footer.html' %}

</body>
</html>